* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, #DAEAF5, #87BBE1, #8BBDE1, #273B6F, #15203E)
}

section {
    padding: 20px 100px;
}

.telechargement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 440px;

}

.personnage {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-direction: column;
}

.personnage img {
    width: 280px;
}

.icon_dreamy {
    width: 910px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 2rem;
}

h3 {
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
}

.mockup img {
    width: 640px;
}

.en-tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.en-tete p {
    font-size: 20px;
}

.en-tete button {
    background-color: #324261;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.titre {
    padding: 0 0 60px 0;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.telechargement img {
    width: 200px;
    justify-content: center;
}

.paragraphe1 {
    font-size: 20px;
    line-height: 1.5;
}

.personnage {
    position: relative;
    width: 600px;
    height: 800px;
}

.img1 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -2;
}

.img2 {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: -1;
}

.img3 {
    position: absolute;
    top: 400px;
    left: 10px;
    z-index: -3;
}


.rectangle {
    position: absolute;
    top: 1500px;
    height: 894px;
    left: 0;
    z-index: -1
}

.Robot_dreamy {
    display: flex;
}

.Robot_dreamy img {
    width: 500px;
}

.paragraphe2 {
    font-size: 20px;
    padding: 260px 60px 0 0;
}

.condition_premium p {
    font-size: 12px ;
    padding: 350px 0 0 60px;
}

.container {
    margin-top: 200px;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.iphone {
    width: 330px;
}

.paragraphe3 {
    width: 600px;
    margin-bottom: 200px;    
}

.statistique {
    position: absolute;
    width: 1050px;
    top: 2450px;
    left: 418px;
}

.premium {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.premium img {
    width: 1190px;
}

.premium h1 {
    margin: 0 0 40px 20px;
}

.reseaux {
    margin-top: 200px;
    display: flex;
}

.reseau_text_img {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.reseaux h1 {
    width: 600px;
}

.reseaux p {
    color: #8BBDE1;
}

.img_reseau {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    gap: 3rem;
}

.iphone15 {
    position: absolute;
    margin-left: 400px;
    width: 900px;
}

