.rectangle {
    width: auto;
    height: 800px;
    background-color: rgb(85, 186, 220);
    transform: rotate(-10deg);
    position: absolute;
}

.largeur_rectangle {
    width: 100vw;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 20px 100px;
}

.telechargement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 440px;

}

.personnage {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-direction: column;
}

.personnage img {
    width: 280px;
}

.icon_dreamy {
    width: 910px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 2rem;
}

h3 {
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
}

.mockup img {
    width: 640px;
}

.en-tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.en-tete p {
    font-size: 20px;
}

.en-tete button {
    background-color: #324261;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.titre {
    padding: 0 0 60px 0;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.telechargement img {
    width: 200px;
    justify-content: center;
}

.paragraphe1 {
    font-size: 20px;
    line-height: 1.5;
}

.personnage {
    position: relative;
    width: 600px;
    height: 800px;
}

.img1 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -2;
}

.img2 {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: -1;
}

.img3 {
    position: absolute;
    top: 400px;
    left: 10px;
    z-index: -3;
}

.Robot_dreamy {
    display: flex;
}