:root {
    /* Color styles */
    --black: #000000;
    --dark-blue: #1D2A3E;

    /* Text-size styles */
    --heading-1: 80px;
    --heading-2: 80px;

    --body-1: 60px;
    --body-2: 60px;
    --body-3: 40px;
    --body-4: 40px;
    --body-5: 32px;
    --body-6: 29px;

    /* Font styles */
    --font-family: 'Roboto', sans-serif;


}